body{
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#simupage_container{
    width: 100%;
    height: 100%;
    /* max-width: 1280px; */
    margin: auto;
    position: relative;
}

/*===========================
    03.MAIN css 
===========================*/

.mrgnbtm {
    margin-top: 20px;
}

/* SimuStep */
.container-step .simu-stepgroup{
    width: 100%;
    height: 25px;
}
.stepBtn {
    width: 25%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #707070;
    border-right: 1px solid #707070;
    background-color: #373737;
    color: #fff;
    position: relative;
    font-size: 11px;
}
.stepBtn:last-child{
  border-right: none;
}
.stepBtn.active {
  border-bottom: 2px solid #fff;
}
.container-step-back{
  position: fixed;
  top: 16px;
  left: 120px;
  padding: 8px 18px;
  line-height: 1;
  height: 30px !important;
  border-radius: 5px;
}

/* VueCarousel */
.VueCarousel{
  width: 100%;
  height: 100%;
}
.VueCarousel-slide
{
    height: inherit !important;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}
.VueCarousel-slide>div{
  height: 100% !important;
}
.VueCarousel-slide img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.simu-styleItem-front img,
.simu-model-imgList img
{
  height: 100%;
  min-height: calc(100vh - 91px);
}

.VueCarousel-navigation-prev{
  left: 50px !important;
}
.VueCarousel-navigation-next{
  right: 50px !important;
}

/* SelectStyle */
ul, ol, dl{
  margin: 0;
  padding: 0;
  list-style: none;
}
.simu-styleList .VueCarousel-navigation-prev{
  display: none !important;
}
.simu-styleList .VueCarousel-navigation-next{
  position: absolute;
  top: 0 !important;
  right: 0px !important;
  width: 6.25% !important;
  height: 100% !important;
  transform: none !important;
  padding: 0!important;
  margin: 0!important;
  background-color: rgb(204, 204, 204, .7) !important;
}

/* StyleItem */
.simupage_main, .container-selectstyle{
  position: relative;
  min-height: calc(100vh - 91px);
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #444444;
}
.simu-styleNone{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.simu-styleNone p{
  font-size: 18px;
}
.simu-styleNone i{
  margin-right: 10px;
}
.simu-styleItem{
  display: block !important;
  position: relative;
  height: 100%;
}
.simu-styleItem-front{
  position: relative;
  height: 100%;
  width: auto;
  cursor: pointer;
}
.simu-styleItem-label{
  position: absolute;
  z-index: 1;
  bottom: 30px;
  left: 30px;
}
.simu-styleItem-name{
  font-size: 20px;
  color: #fff;
}
.simu-styleItem-productname{
  font-size: 15px;
  color: #fff;
}
.simu-styleItem-btn{
  font-size: 15px;
  position: absolute;
  right: 32px;
  bottom: 30px;
  border: none;
  background-color: transparent;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.simu-styleItem-detail{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(58, 58, 58, .9);
  width: 100%;
  height: 100%;
  padding: 32px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: .5px solid #C8C7C6;
  visibility: hidden;
}
.simu-styleItem-detail.active{
  visibility: visible;
}

.simu-styleItem-detailTop{
  flex-grow: 1;
}
.simu-styleItem-detail .simu-styleItem-description{
  margin: 20px 0;
  font-size: 13px;
}
.simu-styleItem-detail .simu-styleItem-completeTime{
  font-size: 13px;
}
.simu-styleItem-modelList li{
  padding: 10px 0;
  width: 100%;
  border: 1px solid #C8C7C6;
  text-align: center;
  margin-top: 17px;
  font-size: 14px;
}
.simu-styleItem-detail .closeBtn{
  position: absolute;
  top: 32px;
  right: 32px;
  font-size: 24px;
  line-height: 1;
  padding: 0 5px;
  cursor: pointer;
}

/* SelectModel */
.container-selectmodel{
  width: 100%;
  height: 100%;
  background-color: #333;
  color: #fff;
  position: absolute;
  top: 0;
  z-index: 2;
}
.simuModelPage-enter-active, .simuModelPage-leave-active {
  width: 100%;
  height: 100%;
  transform: translateX(50);
  display: none;
  transition: all .4s ease;
}
.simuModelPage-enter, .simuModelPage-leave-to /* .fade-leave-active below version 2.1.8 */ {
  width: 100%;
  opacity: 1;
  transform: translateX(100%);
}
.simu-model-left{
  position: relative;
  width: 50%;
  background-color: #cdcdcd;
}
.simu-model-intro{
  position: absolute;
  left: 32px;
  bottom: 32px;
  z-index: 1;
}
.simu-model-intro h3{
  font-size: 19px;
  color: #fff;
}
.simu-model-intro p{
  font-size: 13px;
  padding-top: 5px;
}
.simu-model-imgList{
  height: 100%;
  width: 100%;
}

.simu-model-right{
  padding: 30px;
  color: #fff;
  width: 50%;
}
.simu-model-rightTop{
  flex-grow: 1;
}
.simu-model-right h3, 
.simu-model-right h4{
  color: #fff;
}
.simu-model-right h3{
  font-size: 20px;
}
.simu-model-right h4{
  font-size: 15px;
  padding: 8px 0;
}
.simu-model-description{
  margin-top: 35px;
  width: 400px;
  font-size: 13px;
}
.simu-model-itemList{
  margin-bottom: 30px;
}
.simu-model-itemList li{
  padding: 15px 5px;
  border-bottom: 1px solid #676665;
  margin-left: -5px;
  margin-right: -5px;
  font-size: 13px;
}
.simu-model-itemList li:first-child{
  border-top: 1px solid #676665;
}
.simu-model-itemList li label{
  padding-left: 5px;
}
.simu-model-itemType{
  width: 150px;
  padding-right: 1.5em;
}
.simu-model-item .form-check{
  min-height: auto;
  margin-bottom: 0;
}

/* CHECKBOX STYLE */
.toggle{
  --uiToggleSize: var(--toggleSize, 1.25rem);
  --uiToggleBorderWidth: var(--toggleBorderWidth, 2px);
  --uiToggleColor: var(--toggleColor, #222);

  display: var(--toggleDisplay, inline-flex);
  position: relative;
}
.toggle__input{
  /*
  The pattern by Sara Soueidan https://www.sarasoueidan.com/blog/inclusively-hiding-and-styling-checkboxes-and-radio-buttons/
  */
  width: var(--uiToggleSize);
  height: var(--uiToggleSize);
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.toggle__label{
  display: inline-flex;
  min-height: var(--uiToggleSize);
  padding-left: calc(var(--uiToggleSize) + var(--toggleIndent, .4em));
}
.toggle__input:not(:disabled) ~ .toggle__label{
  cursor: pointer;
}
.toggle__label::after{
  content: "";
  box-sizing: border-box;  
  width: 1em;
  height: 1em;
  font-size: var(--uiToggleSize); /* 1 */
  background-color: #fff;
  border: var(--uiToggleBorderWidth) solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.toggle__input:checked ~ .toggle__label::after{
  background-color: var(--uiToggleColor);
}
.toggle__text{
  margin-top: auto;
  margin-bottom: auto;
}

/*
The arrow size and position depends from sizes of square because I needed an arrow correct positioning from the top left corner of the element toggle

1. Ems helps to calculate size and position of the arrow
*/
.toggle__label::before{
  content: "";
  width: 0;
  height: 0;
  font-size: var(--uiToggleSize); /* 1 */
  border-left-width: 0;
  border-bottom-width: 0;
  border-left-style: solid;
  border-bottom-style: solid;
  border-color: var(--toggleArrowColor, #fff);
  position: absolute;
  top: .5428em;
  left: .25em;
  z-index: 3;
  transform-origin: left top;
  transform: rotate(-40deg) skew(10deg);
}
.toggle__input:checked ~ .toggle__label::before{
  --uiToggleArrowWidth: var(--toggleArrowWidth, 2px);
  width: .4em;
  height: .2em;
  border-left-width: var(--uiToggleArrowWidth);
  border-bottom-width: var(--uiToggleArrowWidth);
}
/*
States
*/

/* focus state */

/* .toggle:focus-within{
  outline: var(--toggleOutlineWidthFocus, 3px) solid var(--toggleOutlineColorFocus, currentColor);
  outline-offset: var(--toggleOutlineOffsetFocus, 5px);
} */
/* disabled state */
.toggle__input:disabled ~ .toggle__label{
  opacity: var(--toggleOpacityDisabled, .4);
  cursor: var(--toggleCursorDisabled, not-allowed);
  user-select: none;
}
.toggle__label::after{
  border-radius: var(--toggleBorderRadius, 2px);
}
.toggle__input:not(:disabled) ~ .toggle__label::before{
  will-change: width, height;
  opacity: 0;
}
.toggle__input:not(:disabled):checked ~ .toggle__label::before{
  opacity: 1;
  transition: opacity .01s ease-out .025s, width .01s ease-out .05s, height .02s ease-out .03s;
}
.toggle__input:not(:disabled) ~ .toggle__label::after{
  will-change: background-color;
  transition: background-color .2s ease-out;
}

/* END CHECKBOX STYLE */
.simu-model-item .form-check:first-child{
  padding-left: 0;
}
.simu-model-order button{
  width: 220px;
  border-radius: 0;
}

/* RADIO STYLE */
.fancy-radio-label {
  display: inline-block;
  line-height: 24px;
  padding-left: 28px;
  margin-right: 20px;
  position: relative;
  -webkit-user-select: no-select;
     -moz-user-select: no-select;
      -ms-user-select: no-select;
          user-select: no-select;
}
.fancy-label--text {
  position: relative;
}
.fancy-radio:checked + .fancy-radio-label {
  color: #fff;
}
.fancy-radio:checked + .fancy-radio-label .fancy-label--text::before {
  transition: transform 0.15s;
  transform: scaleX(1);
}
.fancy-radio:checked + .fancy-radio-label .fancy-radiobutton {
  /* border-color: darkorange;
  transition: border-color 0.5s; */
}
.fancy-radio:checked + .fancy-radio-label .radiobutton-dot {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 0.15s, transform 0.15s;
}

.fancy-checkbox,
.fancy-radiobutton {
  border: solid 1px #fff;
  display: block;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  border-radius: 3px;
}
.fancy-checkbox {
  border-radius: 3px;
}
.fancy-radiobutton {
  /* border-radius: 50%; */
}
.radiobutton-dot {
  background-color: currentColor;
  /* border-radius: 50%; */
  height: 8px;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 8px;
}
.checkmark {
  height: 20px;
  opacity: 1;
  width: 100%;
}
.checkmark .checkmark-path {
  stroke: darkorange;
  stroke-width: 2px;
  transform-origin: 50% 50%;
  stroke-miterlimit: 10;
  opacity: 1;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
}

/* END RADIO STYLE */

/* SimuOrder */
.container-ordersimu{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}
.container-order-main{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  position: relative;
}
/* SimuLeft */
.container-simuleft{
  width: 50%;
  position: relative;
  background-color: #cdcdcd;
  color: #fff;
}
.simuleft-top{
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 10;
}
.simuleft-top .simuleft-top-style{
  font-size: 20px;
}
.simuleft-top .simuleft-top-model{
  font-size: 15px;
  margin: 5px 0;
}
.simuleft-top .simuleft-top-itemcombine{
  font-size: 13px;
}
.sumi-left-allbody, .sumi-left-downbtn{
  position: absolute;
  font-size: 13px;
  padding: 10px 12.5px;
  border: 1px solid #fff !important;
  z-index: 10;
}
.sumi-left-allbody.on{
  background-color: #676665;
}
.sumi-left-downbtn{
  bottom: 30px;
  right: 30px;
}
.sumi-left-allbody{
  top: 30px;
  right: 30px;
}

.simuleft-sample img,
.simuleft-sample object{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 100%;
  object-fit: cover;
}
.img_shadow,
.simuleft-sample object{
  mix-blend-mode: multiply;
}


/*  SimuRight */
.container-simuright{
  width: 50%;
  position: relative;
  background-color: #444444;
  color: #fff;
  overflow: hidden;
}
.simuright-top{
  padding: 24px;
  border-bottom: 1px solid #676665;
}
.simuright-top button{
  border-color: #676665;
  font-size: 13px;
  padding: 10px 25px;
}
.simuright-top select{
  width: 145px;
  background-color: #444444;
  color: #fff;
  font-size: 13px;
  padding: 0 15px;
}
.simuright-price{
  height: 130px;
  padding: 26px 32px;
  border-top: 1px solid #676665;
  font-size: 13px;
}
.simuright-prices-total{
  margin-top: 10px;
}
.simuright-prices-total .totalPayment{
  font-size: 17px;
}
.simuright-price-right .simu-common-btn{
  width: 220px;
}
.simuright-options{
  flex-grow: 1;
  height: 100%;
  overflow: auto;
  font-size: 13px;
}
.simuright-optionLists{
  background-color: #3A3A3A;
  margin: 0;
  padding: 0;
}
.simuright-options-rowDown{
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
}
.simuright-options-row.show .simuright-options-rowDown{
  max-height: 100%;
  transition: max-height 0.25s ease-in;
}
.optionLv1, .optionLv2{
  margin: 0 24px;
  position: relative;
  height: 50px;
  padding: 0 6px;
}
.optionLv1{
  border-bottom: 1px solid #676665;
}
.optionLv2{
  border-bottom: 1px solid #444444;
}
.optionLv1::before, .optionLv2::before{
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
.simuright-options-row.show .optionLv1::before{
  content: "\f078";
}
.simuright-options-img{
  height: 85%;
  width: auto;
  margin-right: 15px;
}
.simuright-options-img img{
  height: 100%;
  width: auto;
}
.simuright-options-label{
  width: 148px;
}
.simuright-top .simuright-modeBtn{
  color: #fff;
  border: 1px solid #676665;
  background-color: transparent;
}
.simuright-top .simuright-modeBtn.active{
  background-color: #676665;
}
.simuleft-options{
  display: none;
}
/* .simuleft-options img{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 100%;
  object-fit: cover;
  z-index: 2;
} */

/* simu-common-btn */
.simu-common-btn{
  border: 1px solid #676665;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 13px;
  color: #fff;
}
.simu-common-btn:hover{
  background-color: #676665;
}

/* simuright-sub */
.simu-subpage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #444444;
  z-index: 1;
}

.simuright-sub{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #444444;
  z-index: 2;
}

/* transiton */
.transitionRightToLeft-enter-active, .transitionRightToLeft-leave-active {
  position: absolute;
  transform: translateX(0);
  opacity: 1;
  transition: all .4s ease;
}
.transitionRightToLeft-enter, .transitionRightToLeft-leave-to {
  position: absolute;
  opacity: 1;
  transform: translateX(100%);
  transition: all .4s ease;
}

/* SimuKiji */

.simuright-sub-nav{
  padding: 0 32px;
  border-bottom: 1px solid #676665;
}
.simuright-sub-searchTop{
  height: 40px;
}
.simuright-sub-searchTop input{
  background-color: transparent;
  font-size: 13px;
  border: none;
  color: #fff;
}
.simuright-sub-searchTop input::placeholder{
  color: #b9b4b4;
}
.simuright-sub-searchTop input:focus-visible{
  outline: none;
}
.simuright-sub-searchSelect{
  font-size: 13px;
}
.simuright-sub>div{
  height: 100%;
}
.simuright-sub-kiji{
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.simuright-sub-result{
  flex-grow: 1;
  overflow-y: auto;
  height: 100%;
  justify-content: start;
  align-content: flex-start;
}
.simuright-sub-result .optionItem{
  width: 33.3%;
  position: relative;
  border: 1px solid #676665;
  border-radius: 2px;
  background-color: transparent;
}
.optionItem.active{
  border: 2px solid #fff;
}
.optionItem.active::before{
  content: "\f058";
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 24px;
  color: #fff;
  font-family: "Font Awesome 5 Free";
}

.simuright-kiji-list .kijiItem{
  width: 33.3%;
  height: 171px;
  position: relative;
}
.simuright-kiji-list .kijiItem img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.simuright-kiji-list .simuright-kiji-name{
  position: absolute;
  width: 70%;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  font-weight: bold;
}
.simuright-kiji-icon{
  position: absolute;
  top: 15px;
  right: 30px
}
.kijiItem.active{
  border: 2px solid #333;
}
.kijiItem.active::before{
  content: "\f058";
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 20px;
  color: #333;
  font-family: "Font Awesome 5 Free";
}

/* OPTION */
.simuright-sub-name{
  height: 50px;
  border-bottom: 1px solid #676665;
  font-size: 13px;
  text-align: center;
}
.simuright-sub-navi{
  height: 104px;
  border-top: 1px solid #676665;
  justify-content: space-evenly;
}
.simuright-sub-navi .simu-common-btn{
  width: 40%;
  max-width: 220px;
}
.simuright-sub-content{
  flex-grow: 1;
  position: relative;
}
.simuright-sub-contentBox{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  height: 100%;
  width: 100%;
}
.optionParentList{
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-x: auto;
  overflow-y: hidden;
}
.optionParentList::-webkit-scrollbar {
  display: none;
}
.optionParentList .optionParent{
  flex-grow: 1;
  text-align: center;
  margin: 0 10px;
  line-height: 39px;
  flex: 1 0 auto;
  padding: 0 10px;
}
.optionParentList .optionParent.active{
  border-bottom: 1px solid #fff;
}
.optionParentCurrent{
  height: 70px;
}
.simuright-sub-result .optionItem img{
  width: 100%;
  height: 100%;
}
.simuright-sub-result .simuright-option-name{
  position: absolute;
  width: 70%;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  font-weight: bold;
}
.simuright-option-icon{
  position: absolute;
  top: 15px;
  right: 30px
}

/* KijiDetail */
.container-option-detail{
  width: 100%;
  height: 100%;
}
.option-detail-bottom{
  height: 220px;
  background-color: rgba(48, 48, 48, .9);
  padding: 30px;
}
.option-detail-top{
  width: 100%;
  height: calc(100% - 220px);
  position: relative;
}
.option-detail-top img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.option-detail-top .option-detail-info{
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.option-detail-code{
  font-size: 17px;
}
.option-detail-name{
  font-size: 15px;
}
.option-detail-closeBtn{
  position: absolute;
  top: 15px;
  right: 30px;
  font-size: 26px;
  padding: 5px 7.5px;
  line-height: 1;
}
.option-detail-description, .option-detail-price{
  font-size: 13px;
}
.option-detail-confirm .simu-common-btn{
  width: 50%;
  background-color: #676665;
}


/* Simu Confirm */
.container-confirm{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: #444444;
  color: #fff;
}
.simu-comfirm-nav{
  height: 104px;
  width: 100%;
  background-color: #3A3A3A;
}
.simu-comfirm-nav .dropup,
#simu-confirm-btn{
  width: 220px;
  margin: 0 15px;
} 
.simu-comfirm-nav .dropup *{
  width: 100%;
}
.simu-comfirm-top{
  background-color: #444444;
  padding-bottom: 30px;
  position: relative;
}
.simu-confirm-main{
  padding-bottom: 60px;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.simu-confirm-content{
  padding: 32px 57.5px 0 57.5px;
  border-bottom: 1px solid #676665;
}
.simu-confirm-card{
  border: 1px solid #676665;
  padding: 50px 50px 0 50px;
}
.simu-confirm-payment{
  padding: 30px 50px;
  font-size: 13px;
  align-items: stretch;
}
.simu-confirm-card-bl{
  padding-left: 60px;
  text-align: right;
}
.simu-confirm-label{
  display: block;
}
.simu-confirm-card-bl .simu-confirm-label{
  font-size: 11px;
  padding: 2.5px 0 7.5px;
}
.simu-confirm-card-bl .simu-confirm-card-value{
  font-size: 17px;
  font-weight: bold;
}
.simu-confirm-kiji-img{
  margin-right: 24px;
}
.simu-confirm-kiji-img img{
  width: 140px;
  height: 140px;
  object-fit: cover;
}
.simu-confirm-kiji-code{
  font-size: 15px;
}
.simu-confirm-kiji-name{
  font-size: 12px;
}
.simu-confirm-kiji-detail .simu-common-btn{
  width: 110px;
}








.simu-confirm-payment-price{
  font-size: 30px;
  font-weight: bold;
}
.simu-confirm-payment-right{
  text-align: right;
}
.simu-confirm-payment .simu-confirm-label{
  padding-bottom: 7.5px;
}
.simu-confirm-detail-more{
  padding: 20px 0;
}
.simu-confirm-detail-more span{
  position: relative;
  font-size: 13px;
}
.simu-confirm-detail-more span::before{
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  top: 50%;
  font-size: 13px;
  transform: translateY(-50%);
  right: -20px;
}
.simu-confirm-detail-more span.on::before{
  content: "\f077";
}
.simu-confirm-detail-bottom{
  border-top: 1px solid #676665;
  display: none;
  max-height: 0;
  transition: max-height 0.15s ease-out;
}
.simu-confirm-detail-bottom.on{
  display: block;
  max-height: inherit;
  transition: max-height 0.25s ease-in;
}
.simu-confirm-detail-return{
  padding: 25px 0 40px 0;
}
.simu-confirm-detail-return button{
  width: 220px;
}
.simu-confirm-design{
  margin-top: 22.5px;
  font-size: 18px;
  text-decoration: underline;
}
.simu-confirm-detail-list{
  flex-wrap: wrap;
  font-size: 12px;
}
.simu-confirm-detail-list .simu-confirm-detail-item{
  margin-bottom: 10px;
  padding: 5px 0;
  border-bottom: 1px solid #676665;
  width: calc(50% - 25px);
}
.simu-confirm-detail-item .simu-confirm-detail-label{
  width: 110px;
  padding-right: 10px;
}
.simu-confirm-detail-item .simu-confirm-detail-value{
  flex-grow: 1;
  padding-right: 10px;
}
.simu-confirm-detail-item button{
  padding: 2px 0;
  font-size: 10px;
  color: #fff;
  border: 1px solid #676665;
  width: 48px;
}






































































/* SimuGender */
.selector__gender_selector button {
    width: 48%;
}
/* SimuRight */

.fabric_item img {
    width: 100%;
    height: 100%;
}
.simulator__image_view {
    position: relative;
    background: #fff;
    height: 496px;
    overflow: hidden;
}

.simulator__image_view img,
.simulator__image_view object {
    height: 100%;
    width: auto;
    position: absolute;
    left: 50%;
    top: calc(50% - 50px);
    transform: translate(-50%, -50%);
}

.simulator__image_view img.loaded,
.simulator__image_view object.loaded {
    opacity: 1;
    transition: 0.5s;
}


/* SimuLeft*/

.fabric_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 324px;
    overflow: auto;
    border: 1px solid #cdcdcd;
    padding: 10px 5px;
}

.fabric_list li {
    width: 31.33333%;
    margin: 0 1%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    border: 2px solid #dee2e6;
    transition: 0.5s;
    box-sizing: border-box;
    background: #fff;
    margin-bottom: 10px;
}

.fabric_list li:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.fabric_list.active {
    border: 2px solid #4f150c;
}

.prodcut__list__iconset {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5px;
    right: 5px;
}

.product__list__icon {
    border-radius: 50%;
    background: #333;
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: #fff;
}

.prodcut__list__iconset span {
    margin-left: 5px;
}

.product__list__icon.icon_mizuiro {
    background: #66aae4;
}

.fabric_list li img {
    width: 100%;
}

.fabric_list figure {
    margin: 0;
}

.fabric_list .product__list__info_opener {
    background: #4f150c;
    color: #fff;
    text-align: center;
    padding: 0.2em 0;
    position: relative;
}

.fabric_list .product__list__data {
    width: 100%;
    padding: .7em;
    display: flex;
    min-height: 110px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    line-height: 1.4;
}

.fabric_list .product__list__data__name {
    font-size: 10px;
}

.parts_list {
    flex-wrap: wrap;
}

.parts_list .parts_item {
    width: 23%;
    margin: 0 1%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    border: 2px solid #dee2e6;
    transition: 0.5s;
    box-sizing: border-box;
    background: #fff;
    margin-bottom: 10px;
    padding: 10px 0;
    text-align: center;
}

.parts_list .parts_item .parts_item_img img{
    width: 85%;
}
.parts_list .parts_item .parts_item_name{
   font-size: 14px;
   margin-top: 10px; 
}



.parts_item.active {
    border: 2px solid #4f150c;
}

.parts_item.active::before,
.course_list .course_item.active::before,
.fabric_list li.active::before {
    content: "\f058";
    position: absolute;
    top: 0px;
    left: 3px;
    font-size: 20px;
    font-family: "Font Awesome 5 Free";
}

.course_list .course_item.active::before,
.fabric_list li.active::before {
    color: #fff;
}

.parts_item_bl {
    height: 240px;
}

.parts_item_bl figure {
    width: 100%;
    padding: 25px 0 10px 0;
    margin: 0;
    text-align: center;
}

.parts_item_bl figure img {
    width: auto;
    max-height: 100%;
    max-width: 100%;
}

.parts_item_bl .parts_name {
    width: 100%;
    font-size: 12px;
    text-align: center;
}

.selectparts__buttons {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

.selectparts__buttons .buttons {
    width: 48%;
}


/* SimuNav */


/* common */

.selector_design_part {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.selector_c3Cate {
    display: flex;
}

.selector_c3Cate .c3CateBtn {
    text-align: center;
    padding: 0.375rem 0;
    transition: 0.2s;
    background: rgba(0, 0, 0, 0);
    margin-left: 15px;
    color: #000;
    border: 1px solid #000;
    width: 110px;
}

.c3CateBtn.active {
    background: #000;
    color: #fff;
}


/* .buttons.buttons-nonactive {
  background: #e3e3e3 !important;
  color: white !important;
  border: none !important;
  pointer-events: none;
} */


/* SimuCourse */

.course_list {
    max-height: 580px;
    overflow: auto;
    list-style-type: none;
}

.course_list .course_item {
    width: 100%;
    background: #fff;
    border: 2px solid #cdcdcd;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    padding: 20px;
}

.course_list .course_item.active,
.fabric_list li.active {
    border: 2px solid #4f150c;
}

.course_list .course_item.active:after,
.fabric_list li.active:after {
    content: " ";
    position: absolute;
    top: 10px;
    left: 10px;
    /* background: url('/html/user_data/assets/img/simupage/check.png') no-repeat center; */
    background-size: contain;
    width: 25px;
    height: 25px;
}

.course_list .course_item:not(:last-child) {
    margin-bottom: 10px;
}

.course_list .source_img {
    width: 50%;
}

.course_list .source_img img {
    width: 100%;
}

.course_list .source_txt {
    width: 45%;
}


/* STEP3 SimuDesign */

.selector__design_selector {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.selector_design ul {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.selector_design ul:not(:last-child) {
    margin-bottom: 5px;
}


/* .selector_design ul li{
  box-sizing: border-box;
  width: 32%;
  margin: 0 0.5%;
} */

.btn_viewzentai {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    display: inline-block;
    width: auto;
    padding: 0.2em 1em;
    height: auto;
    cursor: pointer;
}

.btn_viewzentai:hover {
    background-color: #000;
    color: #fff;
}


/* Simu Price */

.simu_price,
.modal-simu_price {
    padding: 12.5px;
    background-color: #222;
    color: #fff;
    text-align: right;
}


/* SimuModal */

.modal-body img {
    width: 100%;
}


/* Animation loading  */

.loadding_bl {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #cdcdcd;
    display: none;
    z-index: 5;
}

.loadding_bl.on {
    display: block;
}

.lds-ellipsis {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.fullScreenBtn {
    position: absolute;
    bottom: 25px;
    right: 25px;
    font-size: 25px;
    padding: 18px;
    border-radius: 100px;
    background-color: #cdcdcd;
    line-height: 1;
    cursor: pointer;
}

.fullScreenBtn02 {
    bottom: 50px;
    right: 50px;
}


/* simu-modal-fullview */

.simu-modal-fullview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    transition: opacity 0.15s linear;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
}

.simu-modal-fullview.active {
    visibility: visible;
}

#modal-2 {
    max-width: 570px;
    margin: 1.75rem auto;
}

.simu-modal-fullview .simulator__image_view {
    height: 80vh;
    max-height: 80vh;
}

.simu-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

.simu-popup.active {
    display: block;
}

.simu-popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background: #ffeeba;
    z-index: 1;
}

.simu-popup-btn {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#simu-popup01 .simu-popup-btn {
    justify-content: center;
}

.simu-popup-btn button {
    margin: 10px;
}

#modal-3 .modal-footer {
    display: none;
}


/* step 3 */

.form-control-inline {
    display: inline-block;
    width: 70%;
    margin: 0 10px;
}

.form-control-file-hidden {
    width: 0;
}

.form-control-file-icon {
    font-size: 33px;
    cursor: pointer;
}

.measure_size_row{
    margin-bottom: 20px;
}
.measure-ruler-label{
    font-size: 14px;
    padding: 2.5px;
}
.measure-ruler-inputText{
    width: 50px;
    text-align: center;
    margin-right: 5px;
}


/* SLIDER */
.measure-ruler {
    --slider-active-color: red;
    --slider-inactive-color: #b2b2b2;
    width: 100%;
    margin-top: 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}
.measure-ruler button{
    width: 27.5px;
    padding: 3px 0;
    margin: 2.5px 0;
}
.measure-ruler .range-ruler{
    flex-grow: 1;
    margin: -8px 10px 0;
}
.range-labels {
    margin-top: -10px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: calc(100% - 8px);
    padding-left: 8px;
}
.range-labels li {
    position: relative;
    width: 1px;
    text-align: center;
    color: var(--slider-inactive-color);
    font-size: 10px;
    cursor: pointer;
    padding-top: 6px;
}
.range-labels li::before {
    position: absolute;
    top: -6px;
    left: 0;
    content: "";
    margin: 0 auto;
    width: 1px;
    height: 8px;
    background: var(--slider-inactive-color);
}
.range-labels li .range-num{
    position: absolute;
    left: 0;
    transform: translateX(-50%);
}
.range-labels li.selected::before {
    width: 0;
}
.range-labels li.selected .range-num{
    font-weight: bold;
    color: #000;
}


/* ^jxmot customizing */
/* .range {
    position: absolute;
    width: 240px;
    height: 5px;
    top: 5px;
}

.range input {
    width: 100%;
    position: absolute;
    height: 0;
    -webkit-appearance: none;
}

.range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 9px;
    height: 9px;
    margin: -4px 0 0;
    background: var(--slider-active-color);
    cursor: pointer;
    border: 0 !important;
    display: none;
    border-radius: 50%;
}
.range input::-moz-range-thumb {
    width: 2px;
    height: 18px;
    margin: -8px 0 0;
    background: var(--slider-active-color);
    cursor: pointer;
    border: 0 !important;
}
.range input::-ms-thumb {
    width: 18px;
    height: 18px;
    margin: -8px 0 0;
    border-radius: 50%;
    background: var(--slider-active-color);
    cursor: pointer;
    border: 0 !important;
}

.range input::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: var(--slider-inactive-color);
}
.range input::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: var(--slider-inactive-color);
}
.range input::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: var(--slider-inactive-color);
}

.range input:focus {
    background: none;
    outline: none;
} */

/* Simu select code */

.select-type-code,
.select-type-basic {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.select-type-code .selector_list_parts,
.select-type-basic .selector_list_parts {
    flex-grow: 1;
    padding: 15px;
}

.simu-selectcode-item {
    margin-bottom: 5px;
}

.simu-selectcode-item .simu-selectcode-name {
    width: 115px;
}

.simu-selectcode-item select,
.simu-selectcode-item input[type="text"] {
    flex-grow: 1;
}

.part-detail__list{
    display: flex;
    flex-wrap: wrap;
}
.part-detail__list li{
    border: 1px solid #333;
    position: relative;
    width: 31.333%;
    margin: 1% 1%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.part-detail__list li.active{
    background-color: #d6d8db;
}
.part-detail__list li.active::before{
    content: "\f058";
    position: absolute;
    top: -4px;
    left: 1px;
    font-size: 20px;
    font-family: "Font Awesome 5 Free";
}

.order_confirm_btn.completed{
    color: #fff;
    background-color: #007bff;
}




