body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body > *{
  padding: 0;
  margin: 0;
}
#app{
  position: absolute;
  top: 66px;
  width: 100%;
  height: calc(100% - 66px);
}
#simupage_container{
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}

/*===========================
    03.MAIN css 
===========================*/
.touch{
  background-color: rgba(103,102,101, .7);
}
.hover:hover{
  background-color: rgba(103,102,101, .7);
}
/* SimuStep */
.container-step .simu-stepgroup{
    width: 100%;
    height: 25px;
}
.stepBtn {
    width: 25%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #707070;
    border-right: 1px solid #707070;
    background-color: #373737;
    position: relative;
    font-size: 11px;
    color: #C8C7C6;
}
.stepBtn:last-child{
  border-right: none;
}
.stepBtn.active {
  border-bottom: 2px solid #fff;
  color: #fff;
}
.container-step-back{
  position: fixed;
  top: 16px;
  left: 120px;
  padding: 8px 18px;
  line-height: 1;
  height: 30px !important;
  border-radius: 5px;
}
.simu-nav-confirm{
  width: 220px;
}

/* VueCarousel */
.VueCarousel{
  width: 100%;
  height: 100%;
}
.VueCarousel-slide
{
    height: inherit !important;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}
.VueCarousel-inner{
  height: 100% !important;
}
.VueCarousel-wrapper{
  height: 100%;
}
.VueCarousel-slide img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.simu-styleItem-front img,
.simu-model-imgList .simu-model-img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.VueCarousel-navigation-prev{
  left: 50px !important;
}
.VueCarousel-navigation-next{
  right: 50px !important;
}

/* SelectStyle */
ul, ol, dl{
  margin: 0;
  padding: 0;
  list-style: none;
}
.simu-styleList .VueCarousel-navigation-prev{
  display: none !important;
}
.simu-styleList .VueCarousel-navigation-next{
  position: absolute;
  top: 0 !important;
  right: 0px !important;
  width: 6.25% !important;
  height: 100% !important;
  transform: none !important;
  padding: 0!important;
  margin: 0!important;
  background-color: rgb(204, 204, 204, .7) !important;
}

/* StyleItem */
.simupage_main, .container-selectstyle{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #444444;
}
.simu-styleList{
  height: 100%;
}
.simu-styleNone{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.simu-styleNone p{
  font-size: 18px;
}
.simu-styleNone i{
  margin-right: 10px;
}
.simu-styleItem{
  /* display: block !important; */
  position: relative;
  height: 100%;
}
.simu-styleItem.disable::before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, .7);
  pointer-events: none;
  content: '';
}
.simu-styleItem-front{
  position: relative;
  height: 100%;
  width: auto;
  cursor: pointer;
}
.simu-styleItem-label{
  position: absolute;
  z-index: 1;
  bottom: 30px;
  left: 30px;
}
.simu-styleItem-name{
  font-size: 20px;
  color: #fff;
}
.simu-styleItem-productname{
  font-size: 15px;
  color: #fff;
}
.simu-styleItem-btn{
  font-size: 15px;
  position: absolute;
  right: 32px;
  bottom: 30px;
  border: none;
  background-color: transparent;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.simu-styleItem-detail{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(58, 58, 58, .9);
  width: 100%;
  height: 100%;
  padding: 32px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: .5px solid #C8C7C6;
  visibility: hidden;
}
.simu-styleItem-detail.active{
  visibility: visible;
}

.simu-styleItem-detailTop{
  flex-grow: 1;
}
.simu-styleItem-detail .simu-styleItem-description{
  margin: 20px 0;
  font-size: 13px;
}
.simu-styleItem-detail .simu-styleItem-completeTime{
  font-size: 13px;
}
.simu-styleItem-modelList li{
  padding: 10px 0;
  width: 100%;
  border: 1px solid #C8C7C6;
  text-align: center;
  margin-top: 17px;
  font-size: 14px;
}

/* close button */
.closeBtn{
  position: absolute;
  line-height: 1;
  padding: 5px;
  cursor: pointer;
}
.simu-styleItem-detail .closeBtn{
  top: 27.5px;
  right: 27.5px;
}
.option-detail-closeBtn{
  top: 12px;
  right: 30px;
}

/* SelectModel */
.container-selectmodel{
  width: 100%;
  height: 100%;
  background-color: #333;
  color: #fff;
  position: absolute;
  top: 0;
  z-index: 2;
}
.simuModelPage-enter-active, .simuModelPage-leave-active {
  width: 100%;
  height: 100%;
  transform: translateX(50);
  display: none;
  transition: all .4s ease;
}
.simuModelPage-enter, .simuModelPage-leave-to /* .fade-leave-active below version 2.1.8 */ {
  width: 100%;
  opacity: 1;
  transform: translateX(100%);
}
.simu-model-left{
  position: relative;
  width: 50%;
  background-color: #cdcdcd;
}
.simu-model-intro{
  position: absolute;
  left: 32px;
  bottom: 32px;
  z-index: 1;
}
.simu-model-intro h3{
  font-size: 19px;
  color: #fff;
}
.simu-model-intro p{
  font-size: 13px;
  padding-top: 5px;
}
.simu-model-imgList{
  height: 100%;
  width: 100%;
}

.simu-model-right{
  padding: 30px;
  color: #fff;
  width: 50%;
  overflow-y: auto;
}
.simu-model-rightTop{
  flex-grow: 1;
}
.simu-model-right h3, 
.simu-model-right h4{
  color: #fff;
  font-weight: bold;
}
.simu-model-right h3{
  font-size: 20px;
}
.simu-model-right h4{
  font-size: 15px;
  padding: 8px 0;
}
.simu-model-description{
  margin-top: 35px;
  font-size: 13px;
  width: 400px;
}
pre{
  white-space: pre-wrap; 
  word-wrap: break-word;
  font-family: "UNITED ARROWS",Roboto, "游ゴシック", YuGothic, "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, "メイリオ", Meiryo, sans-serif;
}
.simu-model-description pre{
  font-size: 13px;
}

.simu-model-itemList{
  margin-bottom: 10px;
}
.simu-error-message{
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  font-size: 12px;
  width: fit-content;
  padding: 3px 5px;
  border-radius: 4px;
}
.simu-model-itemList li{
  padding: 15px 5px;
  border-bottom: 1px solid #676665;
  margin-left: -5px;
  margin-right: -5px;
  font-size: 13px;
}
.simu-model-itemList li:first-child{
  border-top: 1px solid #676665;
}
.simu-model-order{
  margin-top: 20px;
}
.simu-model-itemType{
  width: 125px;
}
.simu-model-item .form-check{
  min-height: auto;
  margin-bottom: 0;
  width: 50%;
  margin-right: 0;
  padding-left: 5px;
}
.simu-model-item .form-check:first-child{
  padding-left: 0;
}

/* END RADIO STYLE */

/* SimuOrder */
.container-ordersimu{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}
.container-order-main{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  position: relative;
}
/* SimuLeft */
.container-simuleft{
  width: 50%;
  position: relative;
  background-color: #cdcdcd;
  color: #fff;
}
.simuleft-top{
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 10;
}
.simuleft-top .simuleft-top-style{
  font-size: 20px;
}
.simuleft-top .simuleft-top-model{
  font-size: 15px;
  margin: 5px 0;
}
.simuleft-top .simuleft-top-itemcombine{
  font-size: 13px;
}
.sumi-left-allbody{
  position: absolute;
  font-size: 13px;
  padding: 10px 12.5px;
  z-index: 4;
  top: 30px;
  right: 30px;
  border: 1px solid #fff !important;
}
.sumi-left-downbtn{
  position: absolute;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
}
.simuleft-sample.hide img
.simuleft-sample.hide object,
.simuleft-options-shirt img,
.simuleft-options-shirt object{
  display: none;
}

.simuleft-sample img,
.simuleft-sample object,
.simuleft-options-shirt img,
.simuleft-options-shirt object{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 100%;
  object-fit: cover;
}
.correct_detail_img img{
  background-color: #cdcdcd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.img_shadow,
.simuleft-sample object{
  mix-blend-mode: multiply;
}

/*  SimuRight */
.container-simuright{
  width: 50%;
  height: 100%;
  position: relative;
  background-color: #444444;
  color: #fff;
  overflow: hidden;
}
.simuright-top{
  height: 85px;
  padding: 24px;
  border-bottom: 1px solid #676665;
}
.simuright-top button{
  border-color: #676665;
  font-size: 13px;
  padding: 0 25px;
  height: 36px;
}
.simuright-top select{
  width: 145px;
  background-color: #444444;
  color: #fff;
  border: 1px solid #676665;
  font-size: 13px;
  padding: 0 15px;
  border-radius: 0;
  height: 36px;
}

.simuright-price{
  height: 130px;
  padding: 26px 32px;
  border-top: 1px solid #676665;
  font-size: 13px;
}
.simuright-price .delivery-date{
  margin-bottom: 18px;
}
.simuright-prices-total{
  margin-top: 10px;
}
.simuright-prices-total .totalPayment{
  font-size: 17px;
}
.simuright-options{
  /* flex-grow: 1; */
  height: calc(100% - 215px);
  width: 100%;
  overflow: hidden;
  font-size: 13px;
  position: relative;
}
.simuright-options-content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;;
  z-index: 2;
}
.simuright-optionLists{
  background-color: #3A3A3A;
  margin: 0;
  padding: 0;
}
.simuright-options-rowDown{
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
}
.simuright-options-row.show .simuright-options-rowDown{
  max-height: 100%;
  transition: max-height 0.25s ease-in;
}
.simuright-optionLists-size .simuright-optionLists-sizeleft{
  flex-grow: 1;
  width: calc(100% - 115px);
}
.simuright-optionLists-size .simuright-optionLists-sizeright{
  width: 105px;
  margin-left: 10px;
}

.simuright-options-sizeDown{
  background-color: #3A3A3A;
}
.simuright-options-sizeDown .simuright-optionLists{
  margin: 0 24px;
  position: relative;
  padding: 13px 6px;
}

.optionLv1, .optionLv2{
  margin: 0 24px;
  position: relative;
  min-height: 50px;
  padding: 0 6px;
}

.optionLv1{
  border-bottom: 1px solid #676665;
}
.optionLv2{
  border-bottom: 1px solid #444444;
}
.optionLv1::before, .optionLv2::before{
  position: absolute;
  background-image: url(https://stg-personalorder.united-arrows.co.jp/html/user_data/assets/img/common/icon_arrow_right.png);
  background-repeat: no-repeat;
  content: "";
  top: 50%;
  right: 10px;
  width: 8px;
  height: 14px;
  transform: translateY(-50%);
  transition: transform 150ms ease;
}
.optionLv1.codeMode::before, .optionLv2.codeMode::before{
  background-image: url(https://stg-personalorder.united-arrows.co.jp/html/user_data/assets/img/common/icon_scan.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  content: "";
}
.simuright-options-row.show .optionLv1::before{
  transform: translateY(-50%) rotate(90deg);
}
.simuright-options-img{
  height: 85%;
  width: auto;
  margin-right: 15px;
}
.simuright-options-img img{
  height: 100%;
  width: auto;
}
.simu-alert i{
  color: red;
  margin-right: 5px;
}
.simuright-options-label{
  width: 148px;
}
.simuright-top .simuright-modeBtn{
  color: #fff;
  border: 1px solid #676665;
  background-color: transparent;
}
.simuright-top .simuright-modeBtn.active{
  background-color: #676665;
}
.simuright-options-measureValue span{
  display: block;
  padding: 3px 0;
}
.simuleft-options{
  display: none;
}

/* .simuleft-options img{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 100%;
  object-fit: cover;
  z-index: 2;
} */

/* simuright-sub */
.simu-subpage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #303030;
  z-index: 2;
}

.simuright-sub{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #444444;
  z-index: 2;
}

/* transiton */
.transitionRightToLeft-enter-active, .transitionRightToLeft-leave-active {
  position: absolute;
  transform: translateX(0);
  opacity: 1;
  transition: all .4s ease;
}
.transitionRightToLeft-enter, .transitionRightToLeft-leave-to {
  position: absolute;
  opacity: 1;
  transform: translateX(100%);
  transition: all .4s ease;
}

/* transiton */
.transitionRightToLeftHalfWidth-enter-active, .transitionRightToLeftHalfWidth-leave-active {
  position: absolute;
  transform: translateX(0);
  opacity: 1;
  transition: all .4s ease;
}
.transitionRightToLeftHalfWidth-enter, .transitionRightToLeftHalfWidth-leave-to {
  position: absolute;
  opacity: 1;
  transform: translateX(100%);
  transition: all .4s ease;
}
.measure-sub{
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background-color: #3A3A3A;
  z-index: 4;
  overflow-x: hidden;
  overflow-y: auto;;
}
.measure-sub-fade{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
}
.measure-sub-item{
  height: 45px;
  border-bottom: 1px solid #676665;
}
.measure-sub-item .fancy-input{
  width: 100%;
}
.measure-sub-item .fancy-radio-label{
  width: 100%;
  height: 100%;
  line-height: 44px;
  padding-left: 10px;
}
.measure-sub-item .fancy-radiobutton{
  top: 50%;
  right: 20px;
  left: auto;
  transform: translateY(-50%);
}
.measure-sub-item .radiobutton-dot{
  width: 8px;
  height: 8px;
}

.measure-sub .loaddingDataIo{
  background-color: inherit;
}
.measure-sub .ldio-2vyxc9gibh9 div{
  left: 97px;
  top: 80px;
  width: 3px;
  height: 5px;
  transform-origin: 2px 15px;
}

.matashita-correct-input{
  width: 80%;
  margin: 20px auto;
}
.matashita-correct-input input{
  width: 100%;
  font-size: 13px;
  line-height: 20px;
}

/* SimuKiji */

.simuright-sub-nav{
  padding: 0 32px;
  border-bottom: 1px solid #676665;
}
.simuright-sub-searchTop{
  height: 40px;
}
.simuright-sub-searchTop input{
  background-color: transparent;
  font-size: 13px;
  border: none;
  color: #fff;
}
.simuright-sub-searchTop input::placeholder{
  color: #b9b4b4;
}
.simuright-sub-searchTop input:focus-visible{
  outline: none;
}
.simuright-sub-searchSelect{
  font-size: 13px;
}
.simuright-sub-searchSelect span{
  padding: 0 0 0 10px;
  margin-left: 15px;
  border-bottom: 1px solid #C8C7C6;
  cursor: pointer;
}

.simuright-sub>div{
  height: 100%;
}
.simuright-sub-kiji{
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.simuright-sub-result{
  flex-grow: 1;
  overflow-y: auto;
  height: 100%;
  justify-content: start;
  align-content: flex-start;
  background-color: #3A3A3A;
}
.simuright-sub-result .optionItem{
  width: 33.3%;
  position: relative;
  /* border: 1px solid #676665; */
  border-radius: 2px;
  background-color: transparent;
}
.optionItem.active{
  border: 2px solid #fff !important;
}
.optionItem.active::before{
  content: "\f058";
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 24px;
  color: #fff;
  font-family: "Font Awesome 5 Free";
}
.simuright-kiji-list .kijiItem{
  width: 33.3%;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.simuright-kiji-list .kijiItem .kijiitem-img{
  width: 100%;
  height: 110px;
  display: block;
}
.simuright-kiji-list .kijiItem .kijiitem-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.simuright-kiji-list .simuright-kiji-text{
  font-size: 11px;
  font-weight: bold;
  background-color: #444444;
  flex-grow: 1;
}
.simuright-kiji-name{
  display: block;
  padding: 5px 15px 15px 15px;
}
.simuright-kiji-text-top{
  display: block;
  padding: 15px 15px 5px 15px;
}
.simuright-kiji-icon{
  font-size: 15px;
  position: absolute;
  top: 80px;
  left: 10px;
  padding: 5px;
  cursor: pointer;
  z-index: 2;
  line-height: 1;
}
.kijiItem.active{
  border: 2px solid #fff;
}
.kijiItem.active::before{
  content: "\f058";
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 24px;
  color: #fff;
  font-family: "Font Awesome 5 Free";
}

/* OPTION */
.simuright-sub-name{
  height: 50px;
  border-bottom: 1px solid #676665;
  font-size: 13px;
}
.simuright-sub-navi{
  height: 104px;
  border-top: 1px solid #676665;
  justify-content: space-evenly;
}

.simuright-sub-content{
  flex-grow: 1;
  position: relative;
}
.simuright-sub-contentBox{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  height: 100%;
  width: 100%;
}
.optionParentList{
  width: 100%;
  list-style: none;
  text-align: center;
  box-sizing: content-box;
}
.optionParentList .optionParent{
  text-align: center;
  margin: 0 10px;
  line-height: 39px;
  padding: 0 10px;
  display: inline-block;
  vertical-align: middle;
}
.optionParentList .optionParent.active{
  border-bottom: 1px solid #fff;
}
.optionParentCurrent{
  height: 70px;
  background-color: #3A3A3A;
}
.simuright-sub-result .optionitem-img{
  width: 100%;
  height: 120px;
  object-fit: cover;
}
.simuright-sub-result .simuright-option-text{
  font-size: 11px;
  font-weight: bold;
  background-color: #444444;
}
.simuright-option-icon{
  font-size: 15px;
  position: absolute;
  top: 80px;
  left: 10px;
  padding: 5px;
  cursor: pointer;
  z-index: 2;
  line-height: 1;
}
#modal-mask-option{
  position: absolute;
}
#modal-mask-option .modal-container{
  width: 85%;
}

/* SelectOption CustomName */
.option-customname-row{
  display: block;
  padding: 20px;
}
.option-customname-title{
  padding-bottom: 15px;
  text-align: center;
  font-size: 13px;
}
.option-customname-itemList{
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-x: auto;
  overflow-y: hidden;
}
.simuright-sub-result .option-customname-itemList .optionItem{
  padding: 5px;
  /* width: 33.3%; */
  width: 28.5%;
  height: 110px;
  background-color: #373737;
  color: #fff;
  border: 1px solid #676665;
  flex: 0 0 auto;
  font-size: 14px;
}
.option-customname-inputval .text-alert{
  font-size: 10px;
}
.option-customname-inputval input{
  width: 360px;
  padding: 3px;
  margin: 0 auto;
  display: block;
  font-size: 13px;
}

/* KijiDetail */
.container-option-detail{
  width: 100%;
  height: 100%;
}
.option-detail-bottom{
  height: 50%;
  padding: 30px;
  font-size: 13px;
}
.option-detail-top{
  width: 100%;
  height: 50%;
  position: relative;
  padding: 50px 32px 0 32px;
  /* background-color: #444444; */
}
.option-detail-top .option-detail-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.option-detail-name{
  padding-bottom: 10px;
}
.option-detail-name .option-detail-catename{
  display: block;
  font-size: 17px;
  font-weight: bold;
}
.option-detail-name .option-detail-optionname{
  display: block;
  font-size: 13px;
  font-weight: bold;
}
.option-detail-moreinfo, .option-detail-descript{
  width: calc(50% - 10px);
  height: 100%;
}
.option-detail-moreinfo-top .option-detail-val{
  font-size: 13px;
  display: block;
}
.option-detail-moreinfo-top .option-detail-val-composition{
  display: inline-block;
}
.option-detail-select, .option-detail-moreinfo-price{
  height: 40px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}
.option-detail-moreinfo-price{
  align-items: flex-end;
}

/* Simu Confirm */
.container-confirm{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: #444444;
  color: #fff;
}
.simu-comfirm-nav{
  height: 104px;
  width: 100%;
  background-color: #3A3A3A;
}
.simu-comfirm-nav .dropup{
  width: 220px;
  margin: 0 15px;
}
.simu-comfirm-nav .dropup *{
  width: 100%;
}
.simu-comfirm-top{
  background-color: #444444;
  padding-bottom: 30px;
  position: relative;
}
.simu-confirm-main{
  padding-bottom: 60px;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;;
}
.simu-confirm-content{
  padding: 32px 57.5px 0 57.5px;
  border-bottom: 1px solid #676665;
}
.simu-confirm-card{
  border: 1px solid #676665;
  padding: 50px 50px 0 50px;
  margin-bottom: 25px;
  position: relative;
}
.simu-confirm-removeBtn{
  top: 12px;
  right: 12px;
}
.simu-confirm-payment{
  padding: 5px 50px 30px 50px;
  font-size: 13px;
  align-items: stretch;
}
.simu-confirm-card-bl{
  padding-left: 60px;
  text-align: right;
}
.simu-confirm-label{
  display: block;
}
.simu-confirm-card-bl .simu-confirm-label{
  font-size: 11px;
  padding: 2.5px 0 7.5px;
}
.simu-confirm-card-bl .simu-confirm-card-value{
  font-size: 17px;
  font-weight: bold;
}
.simu-confirm-kiji-img{
  margin-right: 24px;
}
.simu-confirm-kiji-img img{
  width: 140px;
  height: 140px;
  object-fit: cover;
}
.simu-confirm-kiji-code{
  font-size: 15px;
}
.simu-confirm-kiji-name{
  font-size: 12px;
}
.simu-confirm-kiji-detail .simu-common-btn{
  width: 110px;
}

.simu-confirm-payment-price{
  font-size: 30px;
  font-weight: bold;
}
.simu-confirm-payment-right{
  text-align: right;
}
.simu-confirm-payment .simu-confirm-label{
  padding-bottom: 7.5px;
}
.simu-confirm-detail-more{
  padding: 20px 0;
}
.simu-confirm-detail-more span{
  position: relative;
  font-size: 13px;
}
.simu-confirm-detail-more span::before{
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  top: 50%;
  font-size: 13px;
  transform: translateY(-50%);
  right: -20px;
}
.simu-confirm-detail-more span.on::before{
  content: "\f077";
}
.simu-confirm-detail-bottom{
  border-top: 1px solid #676665;
  display: none;
  max-height: 0;
  transition: max-height 0.15s ease-out;
}
.simu-confirm-detail-bottom.on{
  display: block;
  max-height: inherit;
  transition: max-height 0.25s ease-in;
}
.simu-confirm-detail-return{
  padding: 25px 0 40px 0;
}
.simu-confirm-design{
  margin-top: 22.5px;
  font-size: 18px;
}
.simu-confirm-detail-list{
  flex-wrap: wrap;
  font-size: 12px;
}
.simu-confirm-detail-list .simu-confirm-detail-item{
  margin-bottom: 10px;
  padding: 5px 0;
  border-bottom: 1px solid #676665;
  width: calc(50% - 25px);
}
.simu-confirm-detail-item .simu-confirm-detail-label{
  width: 110px;
  padding-right: 10px;
}
.simu-confirm-detail-item .simu-confirm-detail-value{
  flex-grow: 1;
  padding-right: 10px;
}
.simu-confirm-detail-item button{
  padding: 2px 0;
  font-size: 10px;
  color: #fff;
  border: 1px solid #676665;
  width: 48px;
}

/* Simu-complete */
.order-confirm-question{
  font-size: 13px;
}
#container-complete .simu-confirm-card{
  padding: 50px;
}
.barCode-showBtn{
  padding: 40px 0;
}
.container-confirm .modal-container-sizeconfirm{
  width: 70%;
  height: 85vh;
  position: relative;
  overflow: hidden;
}
.modal-sizeconfirm-content{
  height: 100%;
}
.modal-container-sizeconfirm .measure-sub{
  background-color: #999;
}
#barCodeModal .modal-body{
  margin: 0;
  padding: 0;
  text-align: center;
}
#barCodeModal .barCodeItem{
  padding: 30px 0;
  border-bottom: 1px solid #DCDBDA;
}
#barCodeModal .barCodeItem:last-child{
  border-bottom: none;
}
#barCodeModal .barCodeName{
  padding-bottom: 15px;
  color: #485049;
  font-size: 12px;
}
#barCodeModal .barCodeImg{
  padding: 4px 0;
}

/* modal-sizeconfirm */
.modal-container-sizeconfirm .modal-body{
  text-align: initial;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
}
.modal-sizeconfirm-designName{
  font-size: 15px;
  font-weight: bold;
  padding: 20px 0;
  border-bottom: 1px solid #DCDBDA;
  text-align: center;
}
.modal-sizeconfirm-list{
  font-size: 12px;
  padding: 20px 24px;
}
.modal-sizeconfirm-list .model-sizeconfirm-item{
  width: 45%;
  padding: 10px 0;
  border-bottom: 1px solid #DCDBDA;
}
.modal-sizeconfirm-list .model-sizeconfirm-item span:nth-child(1){
  width: 115px;
  margin-right: 10px;
}
.simu-confirm-detail-change{
  padding: 2px 0;
  font-size: 10px;
  border: 1px solid #676665;
  width: 48px;
  height: 20px;
}


/* Animation Loading Spinner */
.loaddingDataIo{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(0, 0, 0, 0.43);
  z-index: 5;
}
@keyframes ldio-2vyxc9gibh9 {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-2vyxc9gibh9 div {
  left: 97px;
  top: 48px;
  position: absolute;
  animation: ldio-2vyxc9gibh9 linear 1s infinite;
  background: #ffffff;
  width: 6px;
  height: 15px;
  border-radius: 0px / 0px;
  transform-origin: 3px 36px;
}.ldio-2vyxc9gibh9 div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #ffffff;
}.ldio-2vyxc9gibh9 div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #ffffff;
}.ldio-2vyxc9gibh9 div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #ffffff;
}.ldio-2vyxc9gibh9 div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #ffffff;
}.ldio-2vyxc9gibh9 div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #ffffff;
}.ldio-2vyxc9gibh9 div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #ffffff;
}.ldio-2vyxc9gibh9 div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #ffffff;
}.ldio-2vyxc9gibh9 div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #ffffff;
}.ldio-2vyxc9gibh9 div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #ffffff;
}.ldio-2vyxc9gibh9 div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #ffffff;
}.ldio-2vyxc9gibh9 div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #ffffff;
}.ldio-2vyxc9gibh9 div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #ffffff;
}
.loadingio-spinner-spinner-482naetb3m {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: rgba(NaN, NaN, NaN, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ldio-2vyxc9gibh9 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-2vyxc9gibh9 div { box-sizing: content-box; }


/* OneMeasure */

.container-onemeasure{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 3;
  overflow: hidden;
  margin: 0 auto;
  display: none;
}
.container-onemeasure.show{
  display: block;
}
.onemeasure-step1{
  position: absolute;
  width: 100%;
  top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.onemeasure-title{
  padding: 10px 0;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}
.onemeasure-iniinfo{
  margin: 15px;
  width: 80%;
  max-width: 608px;
  padding: 50px;
  border: 1px solid #DCDBDA;
}
.onemeasure-iniinfo-row{
  padding: 5px 0;
}
.onemeasure-iniinfo-label{
  padding: 5px;
  font-size: 14px;
}
.onemeasure-iniinfo-input #userGender{
  width: 200px;
}
.onemeasure-iniinfo-input input{
  width: 296px;
  height: 50px;
  padding: 5px;
  text-align: center;
  border: 2px solid #DCDBDA;
  border-radius: 5px;
}
.onemeasure-iniinfo-input .onemeasure-unit{
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  margin-left: 10px;
}
.onemeasure-iniinfo-btn{
  margin: 10px 0;
}
.onemeasure-iniinfo-btn button{
  font-size: 14px;
  margin: 10px;
}
.onemeasure-notice{
  display: block;
  font-size: 11px;
  padding: 5px 0;
  text-align: center;
}
.onemeasure-step2{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.onemeasure-nav{
  width: 100%;
  height: 70px;
  border: 1px solid #DCDBDA;
}
.onemeasure-nav-prev, .onemeasure-nav-detail{
  width: 85px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.onemeasure-camera{
  flex-grow: 1;
  width: 100%;
  position: relative
}
.onemeasure-modal-mask{
  /* position: absolute;
  z-index: 5; */
}
.onemeasure-modal-mask .modal-container{
  width: 66.66%;
  height: 70%;
  max-width: 512px;
  position: relative;
  padding: 0;
  overflow-y: unset;
}
.onemeasure-modal-closebtn{
  top: -40px;
  right: -40px;
  font-size: 24px;
  padding: 10px;
  z-index: 5;
}
.onemeasure-modal-mask .modal-body{
  margin: 0;
  padding: 40px 0;
}

.onemeasure-modal-title{
  height: 55px;
  border-bottom: 1px solid #DCDBDA;
  font-size: 16px;
}
.onemeasure-modal-img{
  width: 80%;
  max-width: 380px;
  margin: 10px auto;
}
.onemeasure-modal-img img{
  width: 100%;
}
.onemeasure-modal-textbox{
  padding: 30px;
  width: 80%;
  max-width: 450px;
  margin: 40px auto 20px auto;
  border: 1px solid #DCDBDA;
  font-size: 13px;
}
.onemeasure-modal-textbox .onemeasure-guide-list{
  list-style: disc;
  font-size: 12px;
}
.onemeasure-modal-textbox .onemeasure-guide-list li{
  margin-bottom: 5px;
}
.onemeasure-camera-sample{
  position: absolute;
  z-index: 2;
  width: 60%;
  height: 90%;
  max-height: 710px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.onemeasure-camera-sample img{
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  /* background-color: rgb(204, 204, 204, .7); */
  margin: 0 auto;
  display: block;
}

.onemeasure-camera-result{
  display: none;
  position: absolute;
  z-index: 2;
  width: 60%;
  height: 90%;
  max-height: 710px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.onemeasure-camera-result.show{
  display: block;
}
.onemeasure-camera-result img{
  max-width: 100%;
  width: auto;
  height: 100%;
  /* object-fit: cover; */
  margin: 0 auto;
  display: block;
  border: 1px solid #cdcdcd;
}
/* onemeasure-camera */
.toz-page{
  height: 100%;
  width: 100%;
}
.toz-container{
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cameraBox{
  position: relative;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}
.cameraBox-camera{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cameraBox-camera #tozCameraVideo{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ebebeb;
}
.tozCameraView-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #444444;
  color: #fff;
  font-size: 13px;
}
.tozCameraView_button{
  position: absolute;
  width: 94px;
  height: 94px;
  top: 50%;
  right: calc(15% - 100px);
  transform: translateY(-50%);
  z-index: 4;
}
.tozCameraView_button #captureImage{
  width: 94px;
  height: 94px;
  border: none;
  background-color: transparent;
}
.tozCameraView_button #captureImage img{
  width: 100%;
}

/* .tozCameraView_button #captureImage:disabled span{
  background-color: red;
} */

.toz-page .loaddingDataIo{
  display: none;
}
.toz-page .loaddingDataIo.show{
  display: block;
}
.hidden_button{
  display: none;
}

#sizeTableResult{
  width: 100%;
}
#sizeTableResult dl{
  display: flex;
  justify-content: space-between;
  width: calc(50% - 10px);
  padding: 7.5px;
  border-bottom: 1px solid #EAEAEA;
  margin-bottom: 15px;
  font-size: 13px;
}
#sizeTableResult dt{
  width: calc(100% - 80px);
  text-align: left;
  font-weight: normal;
}
#sizeTableResult dd{
  font-weight: bold;
  width: 70px;
}

/* modal-measure-result */
#modal-measure-result .modal-container{
  overflow-y: unset;
}

.modal-header{
  justify-content: center;
  font-size: 14px;
}
.modal-close-btn{
  position: absolute;
  top: -40px;
  right: -35px;
  text-align: center;
  width: 30px;
  height: 30px;
  z-index: 5;
  font-size: 30px;
  color: #fff;
}
.modal-measure-list{
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
}
.modal-measure-list li{
  margin-bottom: 20px;
  padding: 5px 0;
  border-bottom: 1px solid #EAEAEA;
}
.modal-measure-list .modal-measure-label{
  width: 200px;
  font-size: 13px;
}
.modal-measure-list .modal-measure-sizeval{
  width: calc(100% - 200px);
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
#tozResult .onemeasure-iniinfo-btn{
  margin: 24px 0;
  width: 80%;
  max-width: 608px
}




























/* KijiSearchBrand */
.container-kiji-searchbrand{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #444444;
}
.searchkiji-brand{
  padding: 32px 32px 5px 32px;
}
.searchkiji-brand-letter{
  margin-left: -5px;
}
.searchkiji-brand-list{
  margin: 10px 0 15px 0;
}
.searchkiji-brand-item{
  width: calc(50% - 10px);
  padding-bottom: 10px;
}
.searchkiji-brand-item label{
  width: 100%;
}
.searchkiji-brand-name{
  font-size: 13px;
  padding-bottom: 3px;
}
.searchkiji-brand-kana{
  font-size: 11px;
}

/* KijiSearchOther */
.searchkiji-item{
  margin-bottom: 15px;
  font-size: 13px;
  padding-bottom: 15px;
  border-bottom: 1px solid #676665;
}
.searchkiji-item:last-child{
  border-bottom: none;
}
.searchkiji-item-label{
  padding-bottom: 5px;
}
.searchkiji-item .fancy-radio-label-color .searchkiji-brand-name{
  padding-left: 25px;
  position: relative;
}
.searchkiji-item .fancy-radio-label-color .searchkiji-color-fixed{
  width: 18px;
  height: 18px;
  content: '';
  position: absolute;
  left: 0;
  top: -4px;
  border-radius: 50%;
}


/* .searchkiji-brand-item{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
} */

/* customize menu scroll */
.scroll::-webkit-scrollbar {
  display: none;
}
.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}


/* HC Seach */

.container-hcsearch{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all .3s ease-out;
}
.hcsearch-fade{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}
.hcsearch-content{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 65vh;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: #fff;
}
.hcsearch-content .closeBtn{
  top: -30px;
  right: -30px;
}
.hcsearch-header{
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #dee2e6;
  font-weight: bold;
  font-size: 14px;
}
.hcsearch-body{
  height: calc(100% - 45px);
  width: 100%;
  overflow-x: auto;
  padding: 24px 24px 60px 24px;
  font-size: 13px;
}
.hcsearch-form-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.hcsearch-form-item{
  width: 47%;
}
.hcsearch-form-item .hcsearch-for-label{
  width: 160px;
}
.hcsearch-for-input{
  flex-grow: 1;
}
.hcsearch-for-input input{
  width: 100%;
  padding: 4px;
}
.hcsearch-form-bottom{
  margin: 20px 0;
}
.hcsearch-result-table{
  width: 100%;
}
.hcsearch-result-table tr{
  border: 1px solid #dee2e6;
}
.hcsearch-result-table th,
.hcsearch-result-table td{
  padding: 16px 0.5rem 16px 0;
  text-align: center;
}
.hcsearch-result-table td{
  font-size: 12px;
}
.hcsearch-result-table td button{
  margin: auto;
  border-radius: 3px;
}

.ec-pager__item.active{
  background-color: #cdcdcd;
}



/* Animation loading */

.loadding_bl {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #cdcdcd;
    display: none;
    z-index: 5;
}
.loadding_bl.on {
    display: block;
}
.lds-ellipsis {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

/* Vue Paginate */
.ec-pager__item.disabled:not(.break){
  display: none;
}

/* Vue QrCode */
.container-qrcode{
  width: 60%;
  height: 65%;
  margin: 0px auto;
  background-color: #fff;
  color: #000;
  border-radius: 2px;
  border: 1px solid #676665;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
  max-height: 85%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container-qrcode .closeBtn{
  top: -30px;
  right: -30px;
}
.container-qrcode .barcodeScan-top{
  padding: 24px;
  font-size: 13px;
  flex-grow: 1;
  height: 100%;
}
.barcodeScan-result{
  height: calc(100% - 95px);
  overflow-y: auto;
}
.barcodeScan-input{
  margin-bottom: 30px;
}
.barcodeScan-item{
  padding: 10px;
  border: 1px solid #cdcdcd;
  margin-bottom: 10px;
  border-radius: 3px;
}
.barcodeScan-code{
  width: 145px;
  text-align: center;
  margin-right: 15px;
}
.barcodeScan-lists, .barcodeScan-error{
  flex-grow: 1;
}
.barcodeScan-detail{
  padding: 5px 0;
}
.barcodeScan-input-left{
  width: 55%;
}
.barcodeScan-input-left .scan-confirmation img{
  width: 40px;
  margin: 0 10px;
}
.barcodeScan-input-left input{
  width: calc(100% - 65px);
}
.barcodeScan-button{
  width: 45%;
}
.barcodeScan-input-error{
  display: block;
  padding-top: 5px;
  font-size: 11px;
}
.barcodeScan-input-error,
.barcodeScan-error{
  font-weight: bold;
  color: red;
}

/* Customize scroll */
/* width */
.simu-custom-scroll::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
/* Track */
.simu-custom-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
/* Handle */
.simu-custom-scroll::-webkit-scrollbar-thumb {
  background: #676665; 
  border-radius: 10px;
}
/* Handle on hover */
.simu-custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #676665; 
}








































