/*===========================
    01.HEADER css 
===========================*/


/*===== NAVBAR =====*/

.navbar-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: all 0.3s ease-out 0s;
}

.navbar-area:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #E8505B;
    z-index: 0;
}

.sticky {
    position: fixed;
    z-index: 99;
    background-color: #fff;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-out 0s;
}

.sticky .navbar {
    padding: 10px 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .sticky .navbar {
        padding: 10px 0;
    }
}

@media (max-width: 767px) {
    .sticky .navbar {
        padding: 10px 0;
    }
}

.sticky .navbar .navbar-nav .nav-item a {
    color: #222;
}

.sticky .navbar .navbar-nav .nav-item a::before {
    opacity: .5;
}

.sticky .navbar .navbar-toggler .toggler-icon {
    background: #263238;
}

.navbar {
    padding: 0;
    border-radius: 5px;
    position: relative;
    transition: all 0.3s ease-out 0s;
    padding: 20px 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar {
        padding: 17px 0;
    }
}

@media (max-width: 767px) {
    .navbar {
        padding: 17px 0;
    }
}

.navbar-brand {
    padding: 0;
}

.navbar-brand img {
    max-width: 180px;
}

.navbar-toggler {
    padding: 0;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: #222;
    display: block;
    margin: 5px 0;
    position: relative;
    transition: all 0.3s ease-out 0s;
}

.navbar-toggler.active .toggler-icon:nth-of-type(1) {
    transform: rotate(45deg);
    top: 7px;
}

.navbar-toggler.active .toggler-icon:nth-of-type(2) {
    opacity: 0;
}

.navbar-toggler.active .toggler-icon:nth-of-type(3) {
    transform: rotate(135deg);
    top: -7px;
}

@media (min-width: 1025px) {
    .navbar-expand-lg .navbar-collapse {}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 9;
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
        padding: 5px 12px;
    }
}

@media (max-width: 767px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 9;
        box-shadow: 0px 15px 20px 0px rgba(38, 50, 56, 0.1);
        padding: 5px 12px;
    }
}

.navbar-nav .nav-item {
    position: relative;
    margin-left: 40px;
}

.navbar-nav .nav-item a {
    font-size: 18px;
    font-weight: 400;
    color: #676F73;
    transition: all 0.3s ease-out 0s;
    padding: 10px 0;
    position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item a {
        display: inline-block;
        padding: 6px 10px;
        color: #676F73;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item a {
        display: inline-block;
        padding: 6px 10px;
        color: #676F73;
    }
}

.navbar-nav .nav-item a::before {
    content: '';
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(232, 80, 91, 0.25);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.3s ease-out 0s;
    z-index: -1;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item a::before {
        opacity: .5;
        top: 0;
        left: 0;
        transform: translate(0) scale(1);
        height: 100%;
        width: 0;
        border-radius: 0;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item a::before {
        opacity: .5;
        top: 0;
        left: 0;
        transform: translate(0) scale(1);
        height: 100%;
        width: 0;
        border-radius: 0;
    }
}

.navbar-nav .nav-item a:hover::before,
.navbar-nav .nav-item a.active::before {
    transform: translate(-50%, -50%) scale(1);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item a:hover::before,
    .navbar-nav .nav-item a.active::before {
        opacity: .5;
        top: 0;
        left: 0;
        transform: translate(0) scale(1);
        width: 100%;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item a:hover::before,
    .navbar-nav .nav-item a.active::before {
        opacity: .5;
        top: 0;
        left: 0;
        transform: translate(0) scale(1);
        width: 100%;
    }
}

.navbar-nav .nav-item:hover .sub-menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item:hover .sub-menu {
        top: 0;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item:hover .sub-menu {
        top: 0;
    }
}

.navbar-nav .nav-item .sub-menu {
    width: 200px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 110%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item .sub-menu {
        position: relative;
        width: 100%;
        top: 0;
        display: none;
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 767px) {
    .navbar-nav .nav-item .sub-menu {
        position: relative;
        width: 100%;
        top: 0;
        display: none;
        opacity: 1;
        visibility: visible;
    }
}

.navbar-nav .nav-item .sub-menu li {
    display: block;
}

.navbar-nav .nav-item .sub-menu li a {
    display: block;
    padding: 8px 20px;
    color: #222;
}

.navbar-nav .nav-item .sub-menu li a.active,
.navbar-nav .nav-item .sub-menu li a:hover {
    padding-left: 25px;
    color: #E8505B;
}

.navbar-nav .sub-nav-toggler {
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .sub-nav-toggler {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background: none;
        color: #222;
        font-size: 18px;
        border: 0;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 767px) {
    .navbar-nav .sub-nav-toggler {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background: none;
        color: #222;
        font-size: 18px;
        border: 0;
        width: 30px;
        height: 30px;
    }
}

.navbar-nav .sub-nav-toggler span {
    width: 8px;
    height: 8px;
    border-left: 1px solid #222;
    border-bottom: 1px solid #222;
    transform: rotate(-45deg);
    position: relative;
    top: -5px;
}


/*===========================
    02.FOOTER css 
===========================*/

.footer {
    background: #263238;
    position: relative;
    z-index: 1;
}

.footer .footer-shape .shape {
    position: absolute;
    z-index: -1;
    display: none;
}

.footer .footer-shape .shape.shape-1 {
    left: 0;
    bottom: 0;
}

.footer .footer-shape .shape.shape-2 {
    right: 0;
    bottom: 0;
}

.footer .footer-widget {
    margin-bottom: 30px;
}

.footer .footer-widget .logo a {
    display: inline-block;
    margin-bottom: 25px;
}

.footer .footer-widget .download-btns a {
    display: inline-flex;
    align-items: center;
    padding: 14px 30px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid #fff;
    margin-bottom: 20px;
    margin-right: 20px;
}

.footer .footer-widget .download-btns a:hover {
    background: #E8505B;
    border-color: #E8505B;
}

.footer .footer-widget .download-btns a .icon {
    font-size: 24px;
    margin-right: 20px;
    color: #fff;
}

.footer .footer-widget .download-btns a .text {
    font-size: 10px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}

.footer .footer-widget .download-btns a .text b {
    display: block;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}

.footer .footer-widget h3 {
    color: #fff;
    margin-bottom: 25px;
}

.footer .footer-widget ul.links li a {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
}

.footer .footer-widget ul.links li a:hover {
    color: #E8505B;
}

@media (min-width: 1600px) {
    .footer .footer-shape .shape {
        display: block;
    }
    .hero-section .hero-shape {
        display: block;
    }
}


/*===========================
    03.MAIN css 
===========================*/

.mrgnbtm {
    margin-top: 20px;
}


/* SimuStep */

.stepBtn {
    width: 30%;
    padding: 35px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #cdcdcd;
    position: relative;
}

.stepBtn.active {
    border: 1px solid #000;
    background-color: #d6d8db;
}

.stepBtn.active::before {
    content: "\f058";
    position: absolute;
    top: 0px;
    left: 5px;
    font-size: 33px;
    font-family: "Font Awesome 5 Free";
}

.common-btn-return {
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 5px;
    width: 85px;
}
.fabric-select-btn{
    width: auto;
}


/* SimuGender */

.selector__gender_selector button {
    width: 48%;
}


/* SimuRight */

.fabric_item img {
    width: 100%;
    height: 100%;
}

.simulator__image_view {
    position: relative;
    background: #fff;
    /* height: calc(650px + 185 * ((100vw - 768px) / 256)); */
    height: 496px;
    /* max-height: 835px; */
    overflow: hidden;
}

.simulator__image_view img,
.simulator__image_view object {
    height: 100%;
    width: auto;
    position: absolute;
    left: 50%;
    top: calc(50% - 50px);
    transform: translate(-50%, -50%);
}

.simulator__image_view img.loaded,
.simulator__image_view object.loaded {
    opacity: 1;
    transition: 0.5s;
}


/* SimuLeft*/

.fabric_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 324px;
    overflow: auto;
    border: 1px solid #cdcdcd;
    padding: 10px 5px;
}

.fabric_list li {
    width: 31.33333%;
    margin: 0 1%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    border: 2px solid #dee2e6;
    transition: 0.5s;
    box-sizing: border-box;
    background: #fff;
    margin-bottom: 10px;
}

.fabric_list li:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.fabric_list.active {
    border: 2px solid #4f150c;
}

.prodcut__list__iconset {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5px;
    right: 5px;
}

.product__list__icon {
    border-radius: 50%;
    background: #333;
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: #fff;
}

.prodcut__list__iconset span {
    margin-left: 5px;
}

.product__list__icon.icon_mizuiro {
    background: #66aae4;
}

.fabric_list li img {
    width: 100%;
}

.fabric_list figure {
    margin: 0;
}

.fabric_list .product__list__info_opener {
    background: #4f150c;
    color: #fff;
    text-align: center;
    padding: 0.2em 0;
    position: relative;
}

.fabric_list .product__list__data {
    width: 100%;
    padding: .7em;
    display: flex;
    min-height: 110px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    line-height: 1.4;
}

.fabric_list .product__list__data__name {
    font-size: 10px;
}

.parts_list {
    flex-wrap: wrap;
}

.parts_list .parts_item {
    width: 23%;
    margin: 0 1%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    border: 2px solid #dee2e6;
    transition: 0.5s;
    box-sizing: border-box;
    background: #fff;
    margin-bottom: 10px;
    padding: 10px 0;
    text-align: center;
}

.parts_list .parts_item .parts_item_img img{
    width: 85%;
}
.parts_list .parts_item .parts_item_name{
   font-size: 14px;
   margin-top: 10px; 
}



.parts_item.active {
    border: 2px solid #4f150c;
}

.parts_item.active::before,
.course_list .course_item.active::before,
.fabric_list li.active::before {
    content: "\f058";
    position: absolute;
    top: 0px;
    left: 3px;
    font-size: 20px;
    font-family: "Font Awesome 5 Free";
}

.course_list .course_item.active::before,
.fabric_list li.active::before {
    color: #fff;
}

.parts_item_bl {
    height: 240px;
}

.parts_item_bl figure {
    width: 100%;
    padding: 25px 0 10px 0;
    margin: 0;
    text-align: center;
}

.parts_item_bl figure img {
    width: auto;
    max-height: 100%;
    max-width: 100%;
}

.parts_item_bl .parts_name {
    width: 100%;
    font-size: 12px;
    text-align: center;
}

.selectparts__buttons {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

.selectparts__buttons .buttons {
    width: 48%;
}


/* SimuNav */


/* common */

.selector_design_part {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.selector_c3Cate {
    display: flex;
}

.selector_c3Cate .c3CateBtn {
    text-align: center;
    padding: 0.375rem 0;
    transition: 0.2s;
    background: rgba(0, 0, 0, 0);
    margin-left: 15px;
    color: #000;
    border: 1px solid #000;
    width: 110px;
}

.c3CateBtn.active {
    background: #000;
    color: #fff;
}


/* .buttons.buttons-nonactive {
  background: #e3e3e3 !important;
  color: white !important;
  border: none !important;
  pointer-events: none;
} */


/* SimuCourse */

.course_list {
    max-height: 580px;
    overflow: auto;
    list-style-type: none;
}

.course_list .course_item {
    width: 100%;
    background: #fff;
    border: 2px solid #cdcdcd;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    padding: 20px;
}

.course_list .course_item.active,
.fabric_list li.active {
    border: 2px solid #4f150c;
}

.course_list .course_item.active:after,
.fabric_list li.active:after {
    content: " ";
    position: absolute;
    top: 10px;
    left: 10px;
    /* background: url('/html/user_data/assets/img/simupage/check.png') no-repeat center; */
    background-size: contain;
    width: 25px;
    height: 25px;
}

.course_list .course_item:not(:last-child) {
    margin-bottom: 10px;
}

.course_list .source_img {
    width: 50%;
}

.course_list .source_img img {
    width: 100%;
}

.course_list .source_txt {
    width: 45%;
}


/* STEP3 SimuDesign */

.selector__design_selector {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.selector_design ul {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.selector_design ul:not(:last-child) {
    margin-bottom: 5px;
}


/* .selector_design ul li{
  box-sizing: border-box;
  width: 32%;
  margin: 0 0.5%;
} */

.btn_viewzentai {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    display: inline-block;
    width: auto;
    padding: 0.2em 1em;
    height: auto;
    cursor: pointer;
}

.btn_viewzentai:hover {
    background-color: #000;
    color: #fff;
}


/* Simu Price */

.simu_price,
.modal-simu_price {
    padding: 12.5px;
    background-color: #222;
    color: #fff;
    text-align: right;
}


/* SimuModal */

.modal-body img {
    width: 100%;
}


/* Animation loading  */

.loadding_bl {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    display: none;
}

.loadding_bl.on {
    display: block;
}

.lds-ellipsis {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.fullScreenBtn {
    position: absolute;
    bottom: 25px;
    right: 25px;
    font-size: 25px;
    padding: 18px;
    border-radius: 100px;
    background-color: #cdcdcd;
    line-height: 1;
    cursor: pointer;
}

.fullScreenBtn02 {
    bottom: 50px;
    right: 50px;
}


/* simu-modal-fullview */

.simu-modal-fullview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    transition: opacity 0.15s linear;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
}

.simu-modal-fullview.active {
    visibility: visible;
}

#modal-2 {
    max-width: 570px;
    margin: 1.75rem auto;
}

.simu-modal-fullview .simulator__image_view {
    height: 80vh;
    max-height: 80vh;
}

.simu-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

.simu-popup.active {
    display: block;
}

.simu-popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background: #ffeeba;
    z-index: 1;
}

.simu-popup-btn {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#simu-popup01 .simu-popup-btn {
    justify-content: center;
}

.simu-popup-btn button {
    margin: 10px;
}

#modal-3 .modal-footer {
    display: none;
}


/* step 3 */

.form-control-inline {
    display: inline-block;
    width: 70%;
    margin: 0 10px;
}

.form-control-file-hidden {
    width: 0;
}

.form-control-file-icon {
    font-size: 33px;
    cursor: pointer;
}

.measure_size_row{
    margin-bottom: 20px;
}
.measure-ruler-label{
    font-size: 14px;
    padding: 2.5px;
}
.measure-ruler-inputText{
    width: 50px;
    text-align: center;
    margin-right: 5px;
}


/* SLIDER */
.measure-ruler {
    --slider-active-color: red;
    --slider-inactive-color: #b2b2b2;
    width: 100%;
    margin-top: 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}
.measure-ruler button{
    width: 27.5px;
    padding: 3px 0;
    margin: 2.5px 0;
}
.measure-ruler .range-ruler{
    flex-grow: 1;
    margin: -8px 10px 0;
}
.range-labels {
    margin-top: -10px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: calc(100% - 8px);
    padding-left: 8px;
}
.range-labels li {
    position: relative;
    width: 1px;
    text-align: center;
    color: var(--slider-inactive-color);
    font-size: 10px;
    cursor: pointer;
    padding-top: 6px;
}
.range-labels li::before {
    position: absolute;
    top: -6px;
    left: 0;
    content: "";
    margin: 0 auto;
    width: 1px;
    height: 8px;
    background: var(--slider-inactive-color);
}
.range-labels li .range-num{
    position: absolute;
    left: 0;
    transform: translateX(-50%);
}
.range-labels li.selected::before {
    width: 0;
}
.range-labels li.selected .range-num{
    font-weight: bold;
    color: #000;
}


/* ^jxmot customizing */
/* .range {
    position: absolute;
    width: 240px;
    height: 5px;
    top: 5px;
}

.range input {
    width: 100%;
    position: absolute;
    height: 0;
    -webkit-appearance: none;
}

.range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 9px;
    height: 9px;
    margin: -4px 0 0;
    background: var(--slider-active-color);
    cursor: pointer;
    border: 0 !important;
    display: none;
    border-radius: 50%;
}
.range input::-moz-range-thumb {
    width: 2px;
    height: 18px;
    margin: -8px 0 0;
    background: var(--slider-active-color);
    cursor: pointer;
    border: 0 !important;
}
.range input::-ms-thumb {
    width: 18px;
    height: 18px;
    margin: -8px 0 0;
    border-radius: 50%;
    background: var(--slider-active-color);
    cursor: pointer;
    border: 0 !important;
}

.range input::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: var(--slider-inactive-color);
}
.range input::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: var(--slider-inactive-color);
}
.range input::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: var(--slider-inactive-color);
}

.range input:focus {
    background: none;
    outline: none;
} */

/* Simu select code */

.select-type-code,
.select-type-basic {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.select-type-code .selector_list_parts,
.select-type-basic .selector_list_parts {
    flex-grow: 1;
    padding: 15px;
}

.simu-selectcode-item {
    margin-bottom: 5px;
}

.simu-selectcode-item .simu-selectcode-name {
    width: 115px;
}

.simu-selectcode-item select,
.simu-selectcode-item input[type="text"] {
    flex-grow: 1;
}

.part-detail__list{
    display: flex;
    flex-wrap: wrap;
}
.part-detail__list li{
    border: 1px solid #333;
    position: relative;
    width: 31.333%;
    margin: 1% 1%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.part-detail__list li.active{
    background-color: #d6d8db;
}
.part-detail__list li.active::before{
    content: "\f058";
    position: absolute;
    top: -4px;
    left: 1px;
    font-size: 20px;
    font-family: "Font Awesome 5 Free";
}

.order_confirm_btn.completed{
    color: #fff;
    background-color: #007bff;
}




